.text-normal{
    -fx-font-size: 13px;
}

.text-kategory{
    -fx-font-color: 000000;
}

.text-largtext{
    -fx-font-size: 20px;
}

.text-smaller{
    -fx-font-size: 11px;
}

.text-larger{
    -fx-font-size: 15px;
}

.text-largest{
    -fx-font-size: 24px;
}

.text-larglarg{
    -fx-font-size: 18px;
}

.static-hinting{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}

.list-item:hover{
    -fx-background-color: #FCFCFC;
}

.list-item:pressed{
    -fx-background-color: #D0D0D0;
}

.text-area-light-green {
    -fx-background-color: #46c02a;
}

.text-gray {
    -fx-background-color: #D3D3D3;
}

.back-colour{
    -fx-background-color: rgba(100, 90, 0.2, 0.50);
}

.back-colour-original{
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.logo-band-colour{
    -fx-background-color: #148F17;
}

.logo-Backgroundanother-colour{
    -fx-background-color: #FEFFFA;
}

.logo-sequenceMap-colour{
    -fx-background-color: #D2D36A;
}

.item-colour{
    -fx-background-color: #FEFEEA;
}

.item{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}

.back-colour-gray{
    -fx-background-color: -fx-background;
}